<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="maximum-scale=1.0">
    <link type="text/css" rel='stylesheet' href='./common.css' />
</head>

<body>
    <div id='app' style="width:100%;height: 100%"></div>
    <script src='require.min.js'></script>
    <script>
        __require_base_url__ = ''
        window.mkReady = function (mk) {
            mk.utils.fetch.config({
                mock: {{isMock}},
                after: function (response, url) {
                    if (response.result) {
                        if (response.token) {
                            mk.utils.fetch.config({ token: response.token })
                        }
                        return response.value
                    }
                    else {
                        mk.component.Toast.error(response.error.message)
                        throw { url, response }
                    }
                }
            })
            {{if preApp }}
            mk.requireApps(require, {{@preApp}}, function () {
            {{/if}}
                mk.init({
                    requireFn: require,
                    {{@app}}
                })
                mk.render('{{@appName}}', 'app')
            {{if preApp}}
            }
            {{/if}}
        }
    </script>
    <script src='mk.min.js'></script>
</body>
</html>